<header>
    <a class="menu<%= path === '/' ? ' active':'' %>" href="/">Home</a> 
    <a class="menu<%= path === '/faturas' ? ' active':'' %>" href="/faturas">Faturas</a>    
    <a class="menu<%= path === '/encomendas' ? ' active':'' %>" href="/encomendas">Encomendas</a>
</header>