<header>
    <div class="menu-left">
        <a class="menu<%= path === '/app-interface/home' ? ' active':'' %>" href="/">Home</a>
        <a
            class="menu<%= path === '/app-interface/erp/faturas' ? ' active':'' %>"
            href="/erp/faturas"
            >ERP Faturas</a
        >
        <a
            class="menu<%= path === '/app-interface/erp/encomendas' ? ' active':'' %>"
            href="/erp/encomendas"
            >ERP Encomendas</a
        >
    </div>
    <div class="menu-right">
        <a
            class="menu<%= path === '/app-interface/crm/faturas' ? ' active':'' %>"
            href="/crm/faturas"
            >CRM Faturas</a
        >
    </div>
</header>
