<header>
    <a class="menu<%= path === '/app-interface/home' ? ' active':'' %>" href="/">Home</a> 
    <a class="menu<%= path === '/app-interface/faturas' ? ' active':'' %>" href="/faturas">Faturas</a>    
    <a class="menu<%= path === '/app-interface/encomendas' ? ' active':'' %>" href="/encomendas">Encomendas</a>
</header>