:root {
    --color-dBlue: #192965;
    --color-lBlue: #bbcfff;
    --color-dGray: #515052;
    --color-lGray: #f0efef;
    --color-white: #fffffa;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh !important;
    background-color: var(--color-lGray) !important;
}
h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    background-color: var(--color-dBlue) !important;
    padding: 0.7rem 1.5rem !important;
}
.menu-left,
.menu-right,
.menu-center {
    display: inline-block !important;
    margin: 0;
    width: 33%;
}
.menu-center {
    text-align: center !important;
}
.menu-right {
    text-align: right !important;
}

header .menu {
    /* -transition: 0.5s !important; */
    margin: 0.1rem 0 0 0 !important;
    padding: 0.7rem 1.5rem !important;
    color: var(--color-white) !important;
    font-family: Lato, Helvetica !important;
    font-weight: 700 !important;
    font-size: 13pt !important;
    text-decoration: none !important;
}
header .menu.active,
header .menu:hover {
    transition: background 0.25s;
    padding: 0.7rem 1.5rem 1.5rem !important;
    background-color: var(--color-lBlue) !important;
    color: var(--color-dGray) !important;
}

.myTable {
    width: 95% !important;
    margin: auto !important;
}
.myTable tr:not(:first-child) {
    transition: background 0.25s !important;
}

.myTable tr:not(:first-child):hover {
    transition: background 0.25s !important;
    background-color: var(--color-white) !important;
}

.myTable tr td:last-child {
    text-align: right !important;
}

.billingID {
    margin: 5rem auto !important;
    width: 70rem !important;
}

.billingID tr td,
.billingID tr th {
    padding: 0.3rem 3rem 0.2rem !important;
}

.billingID tr td:last-child,
.billingID tr th:last-child {
    text-align: right !important;
}
