:root {
    --color-dBlue: #192965;
    --color-lBlue: #bbcfff;
    --color-dGray: #515052;
    --color-lGray: #f0efef;
    --color-white: #fffffa;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--color-lGray);
}

header {
    background-color: var(--color-dBlue);
    padding: 0.7rem 1.5rem;
}
.menu-left,
.menu-right {
    display: inline-block;
}
.menu-right {
    float: right;
}

header .menu {
    -transition: 0.5s;
    margin: 0.1rem 0 0 0;
    padding: 0.7rem 1.5rem;
    color: var(--color-white);
    font-family: Lato, Helvetica;
    font-weight: 700;
    font-size: 13pt;
    text-decoration: none;
}
header .menu.active,
header .menu:hover {
    transition: 0.25s;
    padding: 0.7rem 1.5rem 1rem !important;
    background-color: var(--color-lBlue);
    color: var(--color-dGray);
}

.myTable {
    width: 95%;
    margin: auto;
}
.myTable tr:not(:first-child) {
    -transition: 0.25s;
}

.myTable tr:not(:first-child):hover {
    transition: 0.25s;
    background-color: var(--color-white);
}

.myTable tr td:last-child {
    text-align: right;
}

.billingID {
    margin: 5rem auto;
    width: 70rem;
}

.billingID tr td,
.billingID tr th {
    padding: 0.3rem 3rem 0.2rem;
}

.billingID tr td:last-child,
.billingID tr th:last-child {
    text-align: right;
}
