<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <%- test %> 
    <a class="logOutBtn" href="/logout">Log Out</a>
</body>
<%- include('../includes/footer.ejs') %>
