<%- include('../../includes/head.ejs') %>
<body>
    <object data="https://my.jasminsoftware.com/230056/230056-0001/billing/invoices/print/preview?id=<%= billingID %> &report=Billing_MaterialsInvoiceReport" type=""></object>
</body>
</html>

